<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="../main.css" />
    <script src="main.js" defer></script>
  </head>
  <body>
    {{> header}}

    <main>
      <h1>Get in contact with me:</h1>

      <form id="contact-form" action="/submitContactForm" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required />

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea>

        <input type="submit" value="Send" />
      </form>
    </main>

    {{> footer}}
  </body>
</html>
