<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Måneskin Database</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://use.typekit.net/tds6cmv.css">
    <script src="/javascript/main.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
</head>
<body>
  <header>
    <img id="logo" class="logo-img" src="/img/logo.png" alt="logo" />
    <nav>
      <ul>
        <li><a href="index.handlebars">Home</a></li>
        <li><a href="about.handlebars">About</a></li>
        <li><a href="album.handlebars">Albums</a></li>
        <li><a href="members.handlebars">Members</a></li>
        <li><a href="contact.handlebars">Contact</a></li>
      </ul>              
    </nav>
  </header>
  <main>
    <h1>Welcome to the Måneskin Database!</h1>
    <div class="home-container">
      <div class="home-content">
        <p>Explore the electrifying world of Måneskin, the sensational rock band that has taken the music scene by storm. Here, you can find everything you need to know about the band, including detailed profiles of each member, their latest albums, and a treasure trove of information about their music, performances, and much more.</p>
        <p>Whether you're a lifelong fan or just discovering their music, we invite you to dive into the history and achievements of Måneskin. Join us on this exciting journey and celebrate the passion and artistry that define this incredible band!</p>
        <p>Enjoy your visit!</p>
      </div>
      <img class="band" src="/img/band.png" alt="Måneskin" />
    </div>

    <!-- Handlebars mall för att visa medlemmar -->
    <script id="members-template" type="text/x-handlebars-template">
      <h2>Members</h2>
      <ul>
        {{#each members}}
          <li>{{name}} - {{role}} (Age: {{age}})</li>
        {{/each}}
      </ul>
    </script>

  </main>
  
  <footer>
    <h6>©️Filippa Furman 2024</h6>
  </footer>
</body>
</html>