<div id="add-delete">
<div id="album-detail">
  
    <h2>Album: {{album.albumTitle}}</h2>
    <p>Released Year: {{album.releasedYear}}</p>
    <p>Number of Songs: {{album.numberOfSongs}}</p>
    <p>Album Length: {{album.albumLength}}</p>
</div> 

