<div id="albums">     
    <h2>Måneskin Albums</h2>

     <a href="/albums/new" class="add-button">Add Album</a>

    <div class="album-gallery">
        {{#each albums}}
            <div class="album-item">
               <a href="/albums/{{this.albumID}}">
    <img src="{{this.url}}" alt="{{this.albumTitle}}" class="album-image" />
</a>

                <h3>{{this.albumTitle}}</h3> 
            </div>
        {{/each}}

</div>


